/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('./img/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #F9FAF8 transparent !important;
}

h2 { color: #444; font-weight: lighter; }
body { margin: 2em; }
body, input[text], button { color: #888; font-family: Cambria, Georgia; }
button { padding: 0.2em; font-size: 14px}
* { font-family: Arial; }
